@font-face {
   font-family: "Rubik";
   font-style: normal;
   font-weight: 400;
   src: url(../fonts/rubik/rubik-400.woff2) format("woff2");
   font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/rubik/rubik-700.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/rubik/rubik-800.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/raleway/raleway-800.woff2) format("woff2");
  font-display: swap;
}

/*Общие стили*/

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: black;
  background-color: white;
}

.reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color:black;
}

*,
::before,
::after {
  box-sizing: inherit;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.main-container {
  flex-grow: 1;
}

.huge-title {
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
}

.text-spacing {
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.btn-decoration::before {
  position: absolute;
  content: "";
  z-index: -1;
  width: 160px;
  height: 8px;
  background-color: #FFE17F;
}

/* ГЛАВНАЯ СТРАНИЦА */
/* Шапка */

.header {
  margin-top: 40px;
}

.header > div {
  min-height: 300px;
  padding: 48px 60px 0 60px;
  background-color: #FFE17F;
}

.logo {
  position: absolute;
}

.header-top {
  display: flex;
  margin-bottom: 29px;
}

.search-form {
  width: 547px;
}

.search-form__field {
  font-size: 16px;
  line-height: 19px;
  border: none;
  background-color: #FFE17F;
  opacity: 0.7;
}

.header-top__list {
  display: flex;
  width: 547px;
}

.navigation__item:first-child {
  width: 547px;
}

.header-top__link {
  font-size: 16px;
  line-height: 19px;
}

.catalog__link {
  line-height: 18px;
}

.navigation__list {
  display: flex;
}

.navigation__link {
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

/* Промо */

.promo__item {
  display: flex;
  justify-content: space-between;
}

.promo__right-column {
  width: 600px;
  padding-left: 40px;
}

.promo__decoration {
  font-size: 180px;
  font-weight: 800;
  line-height: 30px;
  color:black;
}

.promo__description {
  color: #444444;
}

.promo__btn::before {
  width: 220px;
}

.specifications__value {
  font-size: 36px;
  line-height: 30px;
}

.specifications__attribute {
  font-size: 16px;
  line-height: 30px;
  font-weight: normal;
  color: #444444;
}

.promo__pagination {
  position: relative;
  width: 80px;
  top: -250px;
  left: 1000px;
}

/* Категории */

.category__list {
  display: flex;
  justify-content: space-between;
  width: 1160px;
}

.category__item {
  width: 160px;
}

.category__decoration {
  display: block;
  width: 160px;
  height: 160px;
  background-color: #FFE17F;
}

.category__title {
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  text-align: left;
}

/* Сервисы */

.services {
  background-color: #F0F0F0;
  min-height: 288px;
  z-index: -2;
}

.services > div {
  display: flex;
}

.services__list {
  width: 280px;
}

.services__list::before {
  position: absolute;
  content: "";
  width: 7px;
  height: 319px;
  background-color: black;
}

.services__btn {
  border: none;
  background: transparent;
}

.services__btn::before {
  width: 160px;
  background-color: #FFC700;;
}

.services__details {
  width: 880px;
  padding-left: 116px;
}

.services__description {
  margin: 0;
  width: 497px;
  color: #444444;
}

/* Под заказ */

.on-order__title {
  width: 1160px;
  min-height: 100px;
  background: #F0F0F0;
  border-left: 125px solid #FFE17F;
  text-align: center;
}

.on-order__btn {
  font-size: 20px;
  line-height: 23px;
}

/* О компании */

.about-us > div {
  display: flex;
  justify-content: space-between;
}

.about {
  width: 560px;
  padding-right: 62px;
}

.about__text {
  color: #444444;
}

.about__item {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
}

.about__item::before {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #FFC700;
}

.about__btn::before,
.contacts__btn::before {
  width: 259px;
}

.contacts {
  width: 560px;
  padding-right: 62px;
}

.contacts h3 {
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #444444;
}

.contacts__text {
  font-style: normal;
  color: #444444;
}

.contacts__phone {
  color: #444444;
  text-decoration: underline;
}

/* Подписка */
.subscribe {
  width: auto;
  min-height: 421px;
  background-color: #F0F0F0;
}

.subscribe > div {
  display: flex;
  flex-wrap: wrap;
}

.subscribe__title {
  width: 560px;
}

.subscribe__text {
  margin-left: auto;
  width: 560px;
  color: #444444;
}

.subscribe__text--free {
  width: 135px;
}

.subscribe__form {
  width: 860px;
}

.subscribe__field-mail {
  font-size: 18px;
  line-height: 30px;
  border: none;
  background-color: #F0F0F0;
  opacity: 0.5;
}

.subscribe__btn {
  width: 260px;
  height: 55px;
  border: 3px solid rgba(0,0,0,0.1);
}

/* Подвал */

.page-footer {
  width: auto;
  min-height: 321px;
  background-color: #444444;
}

.page-footer > div {
  display: flex;
}

.page-footer__address {
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.page-footer__column:nth-child(1) {
  width: 238px;
  margin-right: 114px;
}

.page-footer__column:nth-child(2) {
  width: 460px;
}

.page-footer__column:nth-child(3) {
  width: 220px;
  margin-left: auto;
}

.page-footer__navigation-link {
  color: #FFFFFF;
}

.social__link {
  color: white;
}

.page-footer__phone {
  font-size: 16px;
  line-height: 30px;
  color: #FFFFFF;
}

/*КАТАЛОГ*/
/* Шапка */
.header-catalog{
  margin-top: 40px;
}

.header-catalog > div {
  min-height: 186px;
  padding: 48px 60px 0 60px;
  background-color: #FFE17F;
}

.header-top__link--logout {
  opacity: 0.3;
}

/* "Хлебные-крошки" */
.breadcrumbs {
  display: flex;
  font-size: 16px;
  line-height: 19px;
  list-style: none;
  opacity: 0.6;
}

/* Фильтр и сортировка */

.wrapper {
  background-color: #EBEBEB;
}

.wrapper > div {
  display: flex;
}

/* Фильтр */

.filter {
  width: 328px;
}

.filter__title,
.sorting__title {
  font-size: 16px;
  line-height: 19px;
}

.filter__group label {
  font-size: 16px;
  line-height: 19px;
}

.filter__title {
  min-height: 70px;
  margin-top: 0;
  background-color: #DCDCDC;
}

.filter__group {
  border: none;
}

.filter__item {
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  letter-spacing: -0.02em;
}

.filter__item::before {
  position: absolute;
  content: "";
  width: 200px;
  height: 2px;
  background-color: black;
}

.filter__label {
  font-size: 15px;
  line-height: 18px;
  opacity: 0.3;
}

.filter__btn {
  border: none;
  background-color: transparent;
}

.filter__btn::before {
  z-index: 0;
  width: 200px;
  background-color: #FFC700;;
}


/* Сортировка */
.sorting {
  display: flex;
  width: 832px;
  min-height: 70px;
}

.sorting__title {
  text-align: left;
}

/*Список товаров*/

.goods {
  width: 832px;
  min-height: 1334px;
  background-color: white;
}

.goods__wrapper {
  padding-left: 72px;
}

.goods__wrapper::after {
  position: absolute;
  content: "";
  top: 430px;
  left: 1770px;
  min-height: 100vh;
  min-width: 609px;
  background-color: white;
}

.product__title {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  letter-spacing: -0.02em;
}

.product__price {
  font-size: 18px;
  line-height: 21px;
  font-weight: normal;
}

.product__btn::before {
  z-index: 0;
  width: 180px;
}

.goods__more-btn {
  display: block;
  width: 760px;
  min-height: 55px;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  border: 3px solid rgba(0,0,0,0.1);
  background-color: white;
}

/* Пагинация */

.pagination {
  display: flex;
  width: 760px;
  min-height: 70px;
  list-style: none;
  background-color: #EBEBEB;
}

.pagination__link,
.pagination__link {
  font-size: 16px;
  line-height: 19px;
}

.pagination__link:not(.pagination__link--prev, .pagination__link--next) {
  color: #444444;
  opacity: 0.3;
}
