@font-face {
   font-family: "Rubik";
   font-style: normal;
   font-weight: 400;
   src: url(../fonts/rubik/rubik-400.woff2) format("woff2");
   font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/rubik/rubik-700.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/rubik/rubik-800.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/raleway/raleway-800.woff2) format("woff2");
  font-display: swap;
}

/*COMMON STYLES*/

html {
  box-sizing: border-box;
  height: 100%;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: black;
  background-color: white;
}

.reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color:black;
}


.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.page-main {
  flex-grow: 1;
}

.huge-title {
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
}

.text-spacing {
  position: relative;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.btn-decoration::before {
  position: absolute;
  content: "";
  z-index: -1;
  width: 160px;
  height: 8px;
  background-color: #FFE17F;
}

/* HOME PAGE */
/* Header */

.page-header {
  margin-top: 40px;
}

.page-header > div {
  min-height: 300px;
  padding: 43px 60px 0 60px;
  background-color: #FFE17F;
}

.logo {
  position: absolute;
  top: 17px;
}

.header-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 37px;
}

.search-form {
  width: 516px;
}

.search-form__field {
  padding-left: 37px;
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 16px;
  line-height: 19px;
  border: none;
  background-color: #FFE17F;
  opacity: 0.7;
}

.header-top__list {
  display: flex;
  flex-wrap: wrap;
  width: 501px;
}

.header-top__item {
  width: 120px;
  min-height: 20px;
}

.header-top__item--login {
  padding-left: 26px;
  margin-right: 140px;
}

.header-top__item--compare {
  padding-left: 20px;
}

.header-top__item--cart {
  margin-left: auto;
  padding-left: 55px;
}

.header-top__link {
  font-size: 16px;
  line-height: 19px;
}

.catalog__link {
  line-height: 18px;
}

.navigation__list {
  display: flex;
  flex-wrap: wrap;
}

.navigation__item {
  width: 140px;
  min-height: 20px;
}

.navigation__item:first-child {
  width: 236px;
}

.navigation__item:nth-child(2) {
  margin-left: auto;
  margin-right: 19px;
}

.navigation__item:nth-child(3) {
  margin-right: 61px;
}

.navigation__item:last-child {
  padding-left: 13px;
}

.navigation__link {
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

/* Promo */

.promo {
  margin-top: -150px;
  margin-bottom: 70px;
}

.promo > div {
  position: relative;
}

.promo__btn {
  position: absolute;
}

.promo__btn--prev {
  top: 277px;
  left: 15px;
}

.promo__btn--next {
  top: 277px;
  left: 530px;
}

.promo__list {
  position: relative;
}

.promo__item {
  display: flex;
  justify-content: space-between;
}

.promo__right-column {
  width: 600px;
  padding-left: 40px;
  padding-top: 122px;
}

.promo__decoration {
  position: absolute;
  top: 82px;
  right: 48px;
  font-size: 180px;
  font-weight: 800;
  line-height: 30px;
  color:white;
}

.promo__title {
  position: relative;
  z-index: 1;
  margin: 0;
  margin-bottom: 28px;
}

.promo__description {
  margin-bottom: 51px;
  color: #444444;
}

.promo__btn-more {
  display: block;
  position: relative;
  margin-bottom: 66px;
  padding-left: 39px;
}

.promo__btn-more::before {
  left: 0;
  top: 8px;
  width: 220px;
}

.specifications__value {
  font-size: 36px;
  line-height: 30px;
}

.specifications__attribute {
  font-size: 16px;
  line-height: 30px;
  font-weight: normal;
  color: #444444;
}

.promo__pagination {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 80px;
  right: 60px;
  bottom: 180px;
}

/* Category */

.category {
  margin-bottom: 170px;
}

.category__list {
  display: grid;
  grid-template-columns: 160px 160px 160px 160px 160px 160px;
  gap: 40px;
}

.category__item {
  width: 160px;
  min-height: 253px;
  margin-right: 40px;
}

.category__link {
  height: 100%;
}

.category__decoration {
  display: block;
  width: 160px;
  height: 160px;
  margin-bottom: 34px;
  background-color: #FFE17F;
}

.category__title {
  position: relative;
  margin: 0;
  padding-top: 192px;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: -0.02em;
  text-align: left;
}

.category__title::before {
  position: absolute;
  content: "";
  top: 0;
  width: 160px;
  height: 160px;

  background-color: #FFE17F;
}

/* Services */

.services {
  min-height: 288px;
  margin-bottom: 87px;
  background-color: #F0F0F0;
}

.services > div {
  display: flex;
}

.services__list {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 280px;
  margin-top: -24px;
}

.services__list::before {
  position: absolute;
  content: "";
  top: -71px;
  left: 277px;
  width: 7px;
  height: 319px;
  background-color: black;
}

.services__items {
  min-height: 40px;
  margin-bottom: 22px;
}

.services__items:last-child {
  padding-left: 2px;
}

.services__btn {
  width: 100%;
  padding-top: 15px;
  margin-left: -59px;
  z-index: 0;
  border: none;
  background: transparent;
}

.services__btn::before {
  width: 160px;
  background-color: #FFC700;
}

.services__details {
  width: 880px;
  padding-left: 120px;
  margin-top: -30px;
}

.services__title {
  margin-bottom: 32px;;
}

.services__description {
  margin: 0;
  width: 497px;
  color: #444444;
}

/* On-order */

.on-order {
  margin-bottom: 106px;
}

.on-order__title {
  width: 1160px;
  min-height: 100px;
  padding-left: 196px;
  padding-top: 33px;
  background: #F0F0F0;
  border-left: 125px solid #FFE17F;
}

.on-order__btn {
  font-size: 20px;
  line-height: 23px;
}

/* About-us */

.about-us {
  min-height: 642px;
  padding-top: 42px;
}

.about-us > div {
  display: flex;
  justify-content: space-between;
}

.about__title,
.contacts__title {
  position: relative;
  margin-bottom: 45px;
  margin-top: 0;
}

.about__title--decoration::before,
.contacts__title--decoration::before {
  position: absolute;
  content: "";
  top: -50px;
  width: 80px;
  height: 7px;
  background-color: black;
}

.about__text,
.contacts__text {
  font-style: normal;
  color: #444444;
}

.about__btn::before,
.contacts__btn::before {
  width: 259px;
}

/* About */

.about {
  display: flex;
  flex-direction: column;
  width: 560px;
  padding-right: 62px;
}

.about__title + .about__text {
  margin: 0;
  margin-bottom: 32px;
}

.about__text + .about__text {
  margin: 0;
  margin-bottom: 76px;
}

.about__list {
  margin-bottom: 53px;
  padding-left: 35px;
}

.about__item {
  position: relative;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
}

.about__item::before {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  top: 5px;
  left: -34px;
  border-radius: 50%;
  background-color: #FFC700;
}

.about__btn {
  margin-left: 19px;
}

/* Contacts */

.contacts {
  width: 560px;
  padding-right: 45px;
}

.contacts__text {
  margin: 0;
}

.contacts > .contacts__text {
  margin-bottom: 32px;
}

.contacts h3 {
  margin-bottom: 16px;
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #444444;
}

.contacts__address {
  margin-bottom: 28px;
}

.contacts__time {
  margin-bottom: 62px;
}

.contacts__time > .contacts__text {
  width: 205px;
}

.contacts__phone {
  color: #444444;
  text-decoration: underline;
}

.contacts__btn {
  margin-left: 35px;
}

/* Subscribe */
.subscribe {
  width: auto;
  min-height: 421px;
  padding-top: 33px;
  background-color: #F0F0F0;
}

.subscribe > div {
  display: flex;
  flex-wrap: wrap;
}

.subscribe__title {
  width: 560px;
}

.subscribe__text {
  margin-left: auto;
  padding-top: 34px;
  width: 560px;
  color: #444444;
}

.subscribe__text--free {
  width: 135px;
  padding-top: 13px;
  padding-left: 7px;
}

.subscribe__form {
  width: 860px;
  padding-top: 19px;
}

.subscribe__field-mail {
  width: 595px;
  font-size: 18px;
  line-height: 30px;
  border: none;
  background-color: #F0F0F0;
  opacity: 0.5;
}

.subscribe__btn {
  width: 260px;
  min-height: 55px;
  padding-left: 11px;
  border: 3px solid rgba(0,0,0,0.1);
}

/* Page-footer */

.page-footer {
  width: auto;
  min-height: 321px;
  padding-top: 61px;
  background-color: #444444;
}

.page-footer > div {
  display: flex;
  justify-content: space-between;
}

.page-footer__logo {
  display: block;
  margin-bottom: 26px;
}

.page-footer__address {
  position: relative;
  margin-top: 0;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.page-footer__address::before {
  position: absolute;
  content: "";
  top: 104px;
  width: 80px;
  height: 7px;
  background-color: #FFC700;
}

.page-footer__column:nth-child(1) {
  width: 240px;
}

.page-footer__column:nth-child(2) {
  width: 460px;
  padding-top: 71px;
}

.page-footer__column:nth-child(3) {
  width: 220px;
  padding-left: 46px;
  padding-top: 70px;
}

.page-footer__navigation {
  margin-bottom: 58px;
}

.page-footer__navigation-link {
  display: inline-block;
  width: 148px;
  color: #FFFFFF;
}

.page-footer__navigation-link:first-child {
  margin-right: 7px;
}

.social {
  display: grid;
  grid-template-columns: 40px 40px 40px;
  gap: 15px;
  width: 150px;
  min-height: 40px;
  margin: 0 auto;
}

.social__link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
}

.page-footer__phone {
  display: block;
  margin-bottom: 62px;
  font-size: 16px;
  line-height: 30px;
  color: #FFFFFF;
}

.page-footer__copyright {
  display: block;
  margin-left: 60px;
}

/*CATALOG*/
/* Header-catalog */

.page-header--catalog > div {
  min-height: 186px;
}

.page-header--catalog {
  margin-bottom: 38px;
}

.header-top__item--name {
  width: 135px;
  padding-left: 25px;
}

.header-top__item--logout {
  padding-left: 25px;
  margin-right: 6px;
  opacity: 0.3;
}

/* "Breadcrumbs" */

.header-inner {
  margin-bottom: 50px;
}

.header-inner > div {
  padding-left: 60px;
}

.header-inner__title {
  margin: 0;
  margin-bottom: 23px;
}

.breadcrumbs {
  display: flex;
  justify-content: space-between;
  width: 425px;
  font-size: 16px;
  line-height: 19px;
  list-style: none;
  opacity: 0.6;
}

/* Filter and sorting */

.wrapper {
  position: relative;
  background-color: #EBEBEB;
  width: 100%;
}

.wrapper > div {
  display: flex;
}

.filter > div {
  min-height: 1404px;
}

/* Filter */

.filter {
  width: 328px;
}

.filter__title,
.sorting__title {
  margin: 0;
  font-size: 16px;
  line-height: 19px;
}

.filter__group label {
  font-size: 16px;
  line-height: 19px;
}

.filter__title {
  position: relative;
  min-height: 70px;
  margin-top: 0;
  padding-top: 24px;
  padding-left: 60px;
  background-color: #DCDCDC;
}

.filter__title::before {
  position: absolute;
  content: "";
  top: 0px;
  right: 328px;
  min-height: inherit;
  width: 1000px;
  background-color: #DCDCDC;
}

.filter__monopod {
  padding-left: 59px;
  padding-top: 82px;
}

.filter__group {
  border: none;
}

.filter__item {
  position: relative;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  letter-spacing: -0.02em;
}

.filter__item::before {
  position: absolute;
  content: "";
  top: -14px;
  width: 200px;
  height: 2px;
  background-color: black;
}

.filter__item-color {
  margin-bottom: 26px;
}

.filter__item-Bluetooth {
  margin-bottom: 28px;
}

.filter__label {
  font-size: 15px;
  line-height: 18px;
  opacity: 0.3;
}

.filter__list {
  margin-left: 15px;
}

.filter__list li {
  margin-bottom: 9px;
}

.filter__group-color {
  margin-bottom: 41px;
}

.filter__group-Bluetooth {
  margin-bottom: 34px;
}

.filter__btn {
  z-index: 1;
  margin-left: 35px;
  border: none;
  background-color: transparent;
}

.filter__btn::before {
  z-index: -1;
  width: 200px;
  background-color: #FFC700;;
}


/* Sorting */

.sorting {
  display: flex;
  width: 832px;
  min-height: 70px;
  padding-top: 24px;
  padding-left: 73px;
}

.sorting__title {
  text-align: left;
  margin-right: 50px;
}

.sorting__form {
  display: flex;
  justify-content: space-between;
  width: 560px;
  min-height: 19px;
}

.arrow {
  width: 11px;
  height: 10px;
}

.arrow--up {
  margin-right: 19px;
}

/* Goods list */

.goods {
  position: relative;
  width: 832px;
  min-height: 1334px;
  padding-left: 72px;
  padding-top: 69px;
  background-color: white;
}

.goods:after {
  position: absolute;
  content: "";
  top: 0;
  left: 832px;
  min-height: inherit;
  width: 1000px;
  background-color: white;
}

.goods__list {
  display: grid;
  grid-template-columns: 360px 360px;
  grid-gap: 44px 40px;
  margin-bottom: 44px;
}

.goods__item {
  width: 360px;
  min-height: 462px;
}

.product__image-wrapper {
  margin-bottom: 22px;
}

.product__title {
  display: inline-block;
  width: 260px;
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  letter-spacing: -0.02em;
}

.product__price {
  font-size: 18px;
  line-height: 21px;
  font-weight: normal;
  vertical-align: top;
}

.product {
  position: relative;
}

.product__btn-wrapper {
  position: absolute;
  top: 176px;
  left: 109px;
}

.product__btn::before {
  z-index: 0;
  width: 180px;
}

.goods__more-btn {
  display: block;
  width: 760px;
  min-height: 55px;
  margin-bottom: 51px;
  padding-top: 11px;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  border: 3px solid rgba(0,0,0,0.1);
  background-color: white;
}

/* Pagination */

.pagination {
  display: flex;
  width: 760px;
  min-height: 70px;
  padding: 20px 26px 0 30px;
  list-style: none;
  background-color: #EBEBEB;
}

.pagination__link,
.pagination__link {
  font-size: 16px;
  line-height: 19px;
}

.pagination__link:not(.pagination__link--prev, .pagination__link--next) {
  color: #444444;
  opacity: 0.3;
}

.pagination__item {
  margin-right: 30px;
}

.pagination__item--prev {
  margin-right: 209px;
}

.pagination__item--next {
  margin-right: 0;
  margin-left: auto;
}
