@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

/*COMMON STYLES*/

html {
  box-sizing: border-box;
  height: 100%;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 1160px;
  min-height: 100%;
  margin: 0;

  font-family: "Rubik", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #000000;

  background-color: #ffffff;
}

.reset-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

a {
  color: #000000;
  text-decoration: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.page-main {
  flex-grow: 1;
}

.huge-title {
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
}

.text-spacing {
  position: relative;

  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.btn-decoration::before {
  position: absolute;
  content: "";
  z-index: -1;

  width: 160px;
  height: 8px;

  background-color: #ffe17f;
}

/* HOME PAGE */
/* Header */

.page-header {
  margin-top: 40px;
}

.page-header > div {
  position: relative;

  min-height: 300px;
  padding: 40px 34px 0 55px;

  background-color: #ffe17f;
}

.logo {
  position: absolute;
  top: -24px;
  left: 62px;
}

.header-top {
  display: grid;
  grid-template-columns: 516px auto;
  margin-bottom: 19px;
}

.search-form {
  position: relative;

  display: grid;
  grid-template-columns: auto 160px;
  width: 516px;
  min-height: 40px;
}

.search-form__field {
  width: 516px;
  min-height: 40px;
  margin: 0;
  padding: 0 170px 0 41px;
  padding-bottom: 2px;

  font-family: "Rubik", "Arial", sans-serif;
  font-size: 16px;
  line-height: 19px;

  background: #ffe17f url("../img/search.svg") no-repeat 9px 11px;
  background-size: 16px 16px;
  border-radius: 20px;
  border: none;
}

.search-form__field::placeholder {
  color: #000000;

  opacity: 0.3;
}

.search-form__btn {
  position: absolute;
  top: 0;
  right: 0;

  display: none;
  width: 160px;
  min-height: 40px;

  border-radius: 0 20px 20px 0;
  background-color: #ffe17f;
  box-shadow: inset 0 0 0 2px #000000;
  border: none;
  outline: none;
}

.search-form__field:hover::placeholder {
  opacity: 0.6;
}

.search-form__field:focus-visible {
  box-shadow: inset 0 0 0 2px #af4fff;
  outline: none;
}

.search-form__field:active {
  box-shadow: inset 0 0 0 2px #000000;
}

.search-form__field:not(:placeholder-shown) {
  box-shadow: inset 0 0 0 2px #000000;
}

.search-form__field:not(:placeholder-shown) + .search-form__btn {
  display: block;
}

.search-form__btn:focus-visible {
  display: block;

  border: none;
  box-shadow: inset 0 0 0 2px #af4fff;
}

.search-form__btn:hover {
  display: block;

  color: #ffffff;

  background-color: #000000;
  box-shadow: inset 0 0 0 2px #000000;
}

.search-form__btn:active {
  display: block;

  color: rgba(255, 255, 255, 0.3);
}

.header-top__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: 7px;
}

.header-top__link {
  position: relative;

  display: inline-block;
  width: 100%;
  height: 100%;
  padding-top: 10px;

  font-size: 16px;
  line-height: 19px;
}

.header-top__item--login {
  width: 117px;
  min-height: 40px;
  margin-right: 140px;
}

.header-top__link--login {
  padding-left: 47px;

  background: url("../img/login.svg") no-repeat 23px 11px;
  background-size: 13px 12px;
}

.header-top__item--compare {
  width: 136px;
  min-height: 40px;
  margin-right: 18px;
}

.header-top__link--compare {
  padding-left: 45px;

  background: url("../img/compare.svg") no-repeat 26px 11px;
  background-size: 10px 12px;
}

.header-top__item--cart {
  position: relative;

  width: 131px;
  min-height: 40px;
}

.header-top__link--cart {
  padding-left: 46px;

  background: url("../img/cart.svg") no-repeat 19px 10px;
  background-size: 16px 14px;
}

/* popup-cart */
.popover-cart {
  position: absolute;
  top: 42px;
  right: -60px;
  z-index: 3;

  display: none;
  width: 320px;
  min-height: 302px;

  font-size: 16px;
  line-height: 20px;
  color: #ffffff;

  background-color: #000000;
}

.popover-cart__btn-close {
  position: absolute;
  content: "";
  top: -6px;
  right: 152px;
  z-index: 4;

  width: 20px;
  height: 20px;

  background: url("../img/popups/popup-cart-close.svg") no-repeat 50% 0;
  background-size: 14px 6px;
  border: none;

  cursor: pointer;
}

.popover-cart__content {
  position: relative;

  display: flex;
  flex-direction: column;
}

.popover-cart__list {
  display: flex;
  flex-direction: column;
}

.popover-cart__item {
  display: grid;
  grid-template-columns: 250px auto;
  min-height: 84px;
  padding: 20px 56px 20px 20px;
}

.popover-cart__item:not(:last-child) {
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.popover-cart__description {
  width: 200px;
  margin: 0;
  padding-left: 23px;
}

.popover-cart__link {
  display: flex;

  color: #ffffff;

  outline: none;
}

.popover-cart__link:focus-visible .popover-cart__img {
  outline: 5px solid #af4fff;
}

.popover-cart__link:focus-visible .popover-cart__description {
  color: #af4fff;
}

.popover-cart__link:hover {
  opacity: 0.6;
}

.popover-cart__link:active {
  opacity: 0.3;
}

.popover-cart__btn-delete {
  position: relative;

  width: 25px;
  height: 25px;
  margin-left: 12px;
  margin-top: -2px;
  padding-top: 4px;

  border: none;
  background-color: transparent;

  cursor: pointer;
}

.popover-cart__btn-delete:focus-visible {
  border-radius: 50%;

  outline: 2px solid #af4fff;
}

.popover-cart__btn-delete:hover {
  opacity: 0.6;
}

.popover-cart__btn-delete:active {
  opacity: 0.3;
}

.popover-cart__btn-icon {
  fill: #ffffff;
}

.popover-cart__total {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 44px;
  margin-bottom: 13px;
  padding: 10px 20px 0 20px;

  background-color: #1a1a1a;
}

.popover-cart__total b {
  font-weight: normal;
}

.popover-cart__btn-open-cart {
  display: block;
  align-self: center;
  width: 290px;
  min-height: 60px;
  padding-top: 15px;

  text-align: center;

  border: 5px solid #000000;
  background-color: #ffffff;
  outline: none;
}

.popover-cart__btn-open-cart:focus-visible {
  border: 5px solid #af4fff;
}

.popover-cart__btn-open-cart:hover {
  color: #000000;

  background-color: #ffe17f;
}

.popover-cart__btn-open-cart:active {
  color: rgba(0, 0, 0, 0.3);
}

.popover-cart--open {
  display: block;
}
/* /popup-cart */

.header-top__amount {
  position: absolute;
  top: 7px;
  left: 5px;
  z-index: 1;

  width: 21px;
  height: 21px;
  padding-top: 2px;

  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-align: center;

  background-color: #ffffff;
  border-radius: 50%;
}

.header-top__link:focus-visible {
  box-shadow: inset 0 0 0 2px #af4fff;
  border-radius: 20px;
  outline: none;
}

.header-top__link:hover {
  box-shadow: none;
  opacity: 0.6;
}

.header-top__link:active {
  box-shadow: none;
  opacity: 0.3;
}

.navigation__list {
  display: flex;
  flex-wrap: wrap;
}

.navigation__item {
  min-width: 165px;
  min-height: 50px;
}

.navigation__item:first-child {
  position: relative;

  width: 263px;
  margin-left: -13px;
}

.navigation__item:nth-child(2) {
  margin-left: 277px;
  margin-right: -8px;
}

.navigation__item:nth-child(3) {
  margin-right: 53px;
}

.navigation__link {
  display: block;
  width: 100%;
  height: 100%;
  padding-top: 14px;

  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;

  border: 0.01px solid transparent;
  border-radius: 20px;
}

.navigation__link--catalog {
  position: relative;
}

.navigation__link:focus-visible {
  box-shadow: inset 0 0 0 2px #af4fff;
  border-radius: 25px;
  outline: none;
}

.navigation__link:not(.navigation__link--catalog):hover::after {
  position: absolute;
  content: "";
  top: 40px;
  left: 20px;
  right: 20px;

  height: 2px;

  background-color: #000000;
}

.navigation__link:active,
.navigation__link:not(.navigation__link--catalog):active::after {
  opacity: 0.3;
}

.navigation__link--catalog::after {
  position: absolute;
  content: "";
  top: -2px;
  right: -49px;

  width: 50px;
  height: 50px;

  border-radius: 50%;
  border: 2px solid #000000;
  background: url("../img/catalog-link-plus.svg") no-repeat 50% 50%;
  opacity: 0.2;
}

.navigation__link--catalog:hover::after {
  background: url("../img/catalog-link-minus.svg") no-repeat 50% 50%;
  opacity: 1;
}

.navigation__link--catalog:active::after {
  opacity: 0.3;
}

.catalog {
  position: absolute;
  top: 51px;
  left: -42px;
  z-index: 2;

  display: none;
  flex-wrap: wrap;
  min-width: 1160px;
  padding: 28px 45px 40px 45px;

  background-color: #ffe17f;
}

.catalog__item {
  margin-bottom: 10px;
}

.catalog__link {
  display: block;
  width: 100%;
  min-height: 27px;
  padding: 4px 15px 0 15px;

  font-size: 16px;
  line-height: 18px;
}

.catalog__link:focus-visible {
  box-shadow: inset 0 0 0 2px #af4fff;
  border-radius: 25px;
  outline: none;
}

.catalog__link:hover {
  opacity: 0.6;
}

.catalog__link:active {
  opacity: 0.3;
}

.navigation__item--catalog {
  width: 263px;
}

.navigation__item--catalog:focus-within .catalog {
  display: flex;
}

.navigation__item--catalog:hover:hover .catalog {
  display: flex;
}

.catalog-filming {
  margin-right: 16px;
}

.catalog-hand {
  margin-right: 29px;
}

/* Promo */

.promo {
  margin-top: -150px;
  margin-bottom: 70px;
}

.promo > div {
  position: relative;
}

.promo__btn {
  position: absolute;
  z-index: 1;

  display: block;
  width: 40px;
  height: 80px;

  cursor: pointer;
}

.promo__btn--prev {
  top: 240px;
  left: 10px;

  background: url("../img/left-arrow.svg") no-repeat 50% 50%;
  border: none;
}

.promo__btn--next {
  top: 240px;
  left: 511px;

  background: url("../img/right-arrow.svg") no-repeat 50% 50%;
  border: none;
}

.promo__btn:focus-visible {
  border: 2px solid #af4fff;
  border-radius: 6px;
  outline: none;
}

.promo__btn:hover {
  opacity: 0.6;
}

.promo__btn:active {
  border: none;
  opacity: 0.3;
}

.promo__list {
  position: relative;
}

.promo__item {
  display: flex;
  justify-content: space-between;
}

.promo__item--fitness {
  display: none;
}

.promo__item--monopod {
  display: none;
}

.promo__right-column {
  display: flex;
  flex-direction: column;
  width: 600px;
  padding-left: 40px;
  padding-top: 122px;
}

.promo__decoration {
  position: absolute;
  top: 82px;
  right: 48px;

  font-size: 180px;
  font-weight: 800;
  line-height: 30px;
  color: #ffffff;
}

.promo__title {
  position: relative;
  z-index: 1;

  margin: 0;
  margin-bottom: 10px;
}

.promo__description {
  margin-bottom: 37px;

  color: #444444;
}

.promo__btn-more {
  position: relative;

  display: block;
  width: 220px;
  min-height: 50px;
  margin-bottom: 34px;
  padding-top: 14px;
  padding-left: 39px;

  outline: none;
}

.promo__btn-more::before {
  left: 0;
  top: 19px;
  width: 220px;
}

.promo__btn-more:focus-visible::before {
  background-color: #af4fff;
}

.promo__btn-more:hover {
  background-color: #ffe17f;
}

.promo__btn-more:active {
  color: rgba(0, 0, 0, 0.3);
}

.specifications {
  display: grid;
  grid-template-columns: repeat(3, 160px);
  grid-template-rows: 42px 30px;
}

.specifications--monopod {
  grid-template-columns: 160px 140px 160px;
}

.specifications__value {
  grid-row: 1 / 2;
  margin: 0;

  font-size: 36px;
  line-height: 30px;
}

.specifications__attribute {
  grid-row: 2 / 3;

  font-size: 16px;
  line-height: 30px;
  font-weight: normal;
  color: #444444;
}

.promo__pagination {
  position: absolute;
  right: 60px;
  bottom: 180px;

  display: flex;
  justify-content: space-between;
  width: 80px;
}

.promo__pagination-btn {
  width: 12px;
  height: 12px;
  padding: 0;

  border: 2px solid #000000;
  border-radius: 50%;
  background-color: transparent;
  outline: none;

  cursor: pointer;
}

.promo__pagination-btn:focus-visible {
  border: 2px solid #af4fff;
}

.promo__pagination-btn:hover {
  border: 2px solid #000000;
  opacity: 0.6;
}

.promo__pagination-btn:active {
  border: 2px solid #000000;
  opacity: 0.3;
}

.promo__pagination-btn--current {
  background-color: #000000;
}

/* Category */

.category {
  margin-bottom: 170px;
}

.category__list {
  display: grid;
  grid-template-columns: 160px 160px 160px 160px 160px 160px;
  gap: 40px;
}

.category__item {
  width: 160px;
  min-height: 253px;
  margin-right: 40px;
}

.category__link {
  position: relative;
  height: 100%;
}

.category__decoration {
  display: block;
  width: 160px;
  height: 160px;
  margin-bottom: 34px;

  background-color: #ffe17f;
}

.category__title {
  position: relative;
  margin: 0;
  padding-top: 192px;

  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: -0.02em;
  text-align: left;
}

.category__link::after {
  position: absolute;
  content: "";
  top: 0;

  width: 160px;
  height: 160px;

  background-color: #ffe17f;
}

.category__link:focus-visible::after {
  border: 5px solid #af4fff;
}

.category__link:hover::after {
  background-color: #ffc700;
}

.category__link:active::after {
  border: 1px solid #000000;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.category__link:active::before {
  opacity: 0.3;
}

.category__link--vr::before {
  position: absolute;
  content: "";
  top: 53px;
  left: 32px;
  z-index: 1;

  width: 97px;
  height: 55px;

  background: url("../img/index/categorie-VR.svg") no-repeat;
}

.category__link--monopod::before {
  position: absolute;
  content: "";
  top: 43px;
  left: 37px;
  z-index: 1;

  width: 86px;
  height: 117px;

  background: url("../img/index/categorie-monopod.svg") no-repeat;
}

.category__link--action-cameras::before {
  position: absolute;
  content: "";
  top: 38px;
  left: 49px;
  z-index: 1;

  width: 71px;
  height: 87px;

  background: url("../img/index/categorie-action-cam.svg") no-repeat;
}

.category__link--fitness::before {
  position: absolute;
  content: "";
  top: 50px;
  left: 26px;
  z-index: 1;

  width: 107px;
  height: 65px;

  background: url("../img/index/categorie-fitness-tracker.svg") no-repeat;
}

.category__link--smart-watch::before {
  position: absolute;
  content: "";
  top: 31px;
  left: 53px;
  z-index: 1;

  width: 56px;
  height: 98px;

  background: url("../img/index/categorie-smart-watch.svg") no-repeat;
}

.category__link--quadrocopter::before {
  position: absolute;
  content: "";
  top: 49px;
  left: 14px;
  z-index: 1;

  width: 132px;
  height: 69px;

  background: url("../img/index/categorie-quadrocopter.svg") no-repeat;
}

/* Services */

.services {
  min-height: 288px;
  margin-bottom: 86px;

  background-color: #f0f0f0;
}

.services > div {
  display: flex;
}

.services__list {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 280px;
  margin-top: -24px;
}

.services__list::before {
  position: absolute;
  content: "";
  top: -71px;
  left: 277px;

  width: 7px;
  height: 319px;

  background-color: #000000;
}

.services__items {
  margin-bottom: 26px;
}

.services__items:last-child {
  padding-left: 2px;
}

.services__btn {
  position: relative;
  z-index: 0;

  width: 160px;
  min-height: 40px;
  padding: 10px 0;
  padding-left: 20px;

  text-align: left;

  border: none;
  background: transparent;
  outline: none;
}

.services__btn--credit {
  padding-left: 32px;
}

.services__btn--current {
  width: 280px;

  color: #ffe17f;

  background-color: #000000;
}

.services__btn::before {
  top: 15px;
  left: 0;

  background-color: #ffc700;
}

.services__btn:focus-visible::before {
  background-color: #af4fff;
}

.services__btn:hover {
  background-color: #ffc700;
}

.services__btn--current:hover {
  background-color: #000000;
}

.services__btn:active {
  width: 280px;

  color: #ffe17f;

  background-color: #000000;
}

.services__btn:active::before {
  background-color: #000000;
}

.services__details {
  width: 880px;
  min-height: 250px;
  margin-top: -40px;
  padding-left: 120px;
  padding-top: 10px;
}

.services__details--delivery {
  background: url("../img/index/services-delivery.png") no-repeat 678px 23px;
}

.services__details--guarantee {
  display: none;

  background: url("../img/index/services-guarantee.png") no-repeat 663px 0;
}

.services__details--credit {
  display: none;

  background: url("../img/index/services-credit.png") no-repeat 654px 0;
}

.services__title {
  margin-bottom: 32px;
}

.services__description {
  width: 497px;
  margin: 0;

  color: #444444;
}

/* On-order */

.on-order {
  margin-bottom: 95px;
}

.on-order > div {
  width: 1170px;
}

.on-order__title {
  position: relative;
}

.on-order__icon-info {
  position: absolute;
  content: "";
  top: 26px;
  right: 32px;

  width: 40px;
  height: 40px;

  background: url("../img/index/delivery-info.svg") no-repeat 50% 50% #dcdcdc;
  border-radius: 50%;
  opacity: 0.5;
}

.on-order__btn {
  position: relative;

  display: block;
  width: 1170px;
  min-height: 110px;
  padding-top: 37px;

  font-size: 20px;
  line-height: 23px;
  text-align: center;

  border: 5px solid #ffffff;
  background-color: #f0f0f0;
}

.on-order__btn::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;

  width: 125px;
  min-height: 100px;

  background-color: #ffe17f;
}

.on-order__btn::after {
  position: absolute;
  content: "";
  top: 35px;
  left: 39px;

  width: 47px;
  height: 31px;

  background: url("../img/index/delivery.svg") no-repeat;
}

.on-order__btn:focus-visible {
  border: 5px solid #af4fff;
  outline: none;
}

.on-order__btn:hover::before {
  background-color: #ffc700;
}

.on-order__btn:hover .on-order__icon-info {
  opacity: 1;
}

.on-order__btn:active {
  color: rgba(0, 0, 0, 0.3);
}

.on-order__btn:active::after {
  opacity: 0.3;
}

.on-order__btn:active .on-order__icon-info {
  opacity: 0.5;
}

/* About-us */

.about-us {
  min-height: 642px;
  padding-top: 42px;
}

.about-us > div {
  display: flex;
  justify-content: space-between;
}

.about__title,
.contacts__title {
  position: relative;

  margin-bottom: 47px;
  margin-top: 0;
}

.about__title--decoration::before,
.contacts__title--decoration::before {
  position: absolute;
  content: "";
  top: -50px;

  width: 80px;
  height: 7px;

  background-color: #000000;
}

.about__text,
.contacts__text {
  font-style: normal;
  color: #444444;
}

.about__btn,
.contacts__btn {
  display: block;
  width: 260px;
  min-height: 50px;
  padding-top: 15px;

  text-align: center;

  outline: none;
}

.about__btn::before,
.contacts__btn::before {
  top: 19px;
  left: 0;

  width: 100%;
}

.about__btn:focus-visible::before,
.contacts__btn:focus-visible::before {
  background-color: #af4fff;
}

.about__btn:hover,
.contacts__btn:hover {
  background-color: #ffe17f;
}

.about__btn:active,
.contacts__btn:active {
  color: rgba(0, 0, 0, 0.3);
}

/* About */

.about {
  display: flex;
  flex-direction: column;
  width: 560px;
  padding-right: 62px;
}

.about__title + .about__text {
  margin: 0;
  margin-bottom: 32px;
}

.about__text + .about__text {
  margin: 0;
  margin-bottom: 74px;
}

.about__list {
  margin-bottom: 37px;
  padding-left: 35px;
}

.about__item {
  position: relative;

  margin-bottom: 20px;

  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
}

.about__item::before {
  position: absolute;
  content: "";
  top: 5px;
  left: -34px;

  width: 8px;
  height: 8px;

  border-radius: 50%;
  background-color: #ffc700;
}

/* Contacts */

.contacts {
  width: 560px;
  padding-right: 45px;
}

.contacts__text {
  margin: 0;
}

.contacts > .contacts__text {
  margin-bottom: 32px;
}

.contacts h3 {
  margin-bottom: 14px;

  font-family: "Rubik", "Arial", sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #444444;
}

.contacts__address {
  margin-bottom: 30px;
}

.contacts__time {
  margin-bottom: 53px;
}

.contacts__time > .contacts__text {
  width: 205px;
}

.contacts__phone {
  color: #444444;
  text-decoration: underline;
}

/* Subscribe */
.subscribe {
  width: auto;
  min-height: 421px;
  padding-top: 35px;

  background-color: #f0f0f0;
}

.subscribe > div {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.subscribe__title {
  width: 560px;
  min-height: 120px;
}

.subscribe__text {
  width: 560px;
  min-height: 120px;
  margin-left: auto;
  padding-top: 34px;

  color: #444444;
}

.subscribe__text--free {
  position: relative;

  width: 135px;
  min-height: 55px;
  margin: 0;
  margin-left: auto;
  padding-left: 7px;
  padding-top: 12px;
}

.subscribe__text--free::before {
  position: absolute;
  content: "";
  bottom: 23px;
  left: -28px;

  width: 14px;
  height: 14px;

  background: url("../img/index/subscribe.svg") no-repeat;
}

.subscribe__form {
  display: grid;
  grid-template-columns: 1fr 260px;
  min-height: 55px;
}

.subscribe__field-mail {
  width: 600px;

  font-size: 18px;
  line-height: 30px;

  background-color: #f0f0f0;
  border: none;
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
  outline: none;
}

.subscribe__field-mail--error {
  border-bottom: 3px solid #ff3d3d;
}

.subscribe__field-mail::placeholder {
  color: #444444;

  opacity: 0.5;
}

.subscribe__field-mail:focus-visible {
  background-color: #dcdcdc;
}

.subscribe__field-mail:hover::placeholder {
  opacity: 0.7;
}

.subscribe__field-mail:hover {
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
}

.subscribe__field-mail:not(:placeholder-shown) {
  border-bottom: 3px solid #000000;
  background-color: #f0f0f0;
}

.subscribe__field-mail:active {
  border-bottom: 3px solid #000000;
  background-color: #f0f0f0;
}

.subscribe__btn {
  width: 260px;
  min-height: 55px;
  padding-left: 11px;

  border: 3px solid rgba(0, 0, 0, 0.1);
}

.subscribe__btn:focus-visible {
  border: 3px solid #af4fff;
  outline: none;
}

.subscribe__btn:hover {
  color: #ffffff;

  background-color: #000000;
  border: 3px solid #000000;
}

.subscribe__btn:active {
  color: rgba(2555, 255, 255, 0.3);
}

/* Page-footer */

.page-footer {
  width: auto;
  min-height: 321px;
  padding-top: 61px;

  background-color: #444444;
}

.page-footer > div {
  display: flex;
  justify-content: space-between;
}

.page-footer__logo {
  display: block;
  margin: 2px 0 25px -3px;
}

.page-footer__address {
  position: relative;

  margin-top: 0;

  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.page-footer__address::before {
  position: absolute;
  content: "";
  top: 104px;

  width: 80px;
  height: 7px;

  background-color: #ffc700;
}

.page-footer__column:nth-child(1) {
  width: 240px;
}

.page-footer__column:nth-child(2) {
  width: 510px;
  padding-top: 62px;
}

.page-footer__column:nth-child(3) {
  width: 220px;
  padding-left: 32px;
  padding-top: 73px;
}

.page-footer__navigation {
  margin-bottom: 42px;
  padding-left: 7px;
}

.page-footer__navigation-link {
  position: relative;

  display: inline-block;
  width: 165px;
  min-height: 50px;
  padding: 15px 20px 0 20px;

  color: #ffffff;
}

.page-footer__navigation-link:first-child {
  margin-right: -10px;
}

.page-footer__navigation-link:nth-child(2) {
  margin-right: -18px;
}

.page-footer__navigation-link:focus-visible {
  box-shadow: inset 0 0 0 2px #af4fff;
  border-radius: 25px;
  outline: none;
}

.page-footer__navigation-link:hover {
  color: #ffc700;

  box-shadow: none;
}

.page-footer__navigation-link:hover::after {
  position: absolute;
  content: "";
  top: 40px;
  left: 20px;
  right: 20px;

  height: 2px;

  background-color: #ffc700;
}

.page-footer__navigation-link:active::after {
  opacity: 0.3;
}

.page-footer__navigation-link:active {
  opacity: 0.3;
}

.social {
  display: grid;
  grid-template-columns: 50px 50px 50px;
  gap: 5px;
  width: 160px;
  min-height: 50px;
  margin-left: 165px;
}

.social__link {
  width: 50px;
  height: 50px;
  padding-top: 8px;

  text-align: center;

  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  border: 5px solid #444444;
}

.social__icon {
  fill: #444444;
}

.social__link:focus-visible {
  background-color: #444444;
  border: 5px solid #af4fff;
  outline: none;
}

.social__link:focus-visible .social__icon {
  fill: #ffffff;
}

.social__link:hover {
  background-color: #ffc700;
  border: 5px solid #444444;
}

.social__link:active .social__icon {
  fill: rgba(68, 68, 68, 0.3);
}

.page-footer__phone {
  display: block;
  min-width: 204px;
  min-height: 27px;
  margin-bottom: 45px;
  padding: 0 15px;

  font-size: 16px;
  line-height: 30px;
  color: #ffffff;

  outline: none;
}

.page-footer__phone:focus-visible {
  box-shadow: inset 0 0 0 2px #af4fff;
  border-radius: 25px;
}

.page-footer__phone:hover {
  color: #ffc700;
}

.page-footer__phone:active {
  box-shadow: none;
  opacity: 0.3;
}

.page-footer__copyright {
  display: block;
  width: 135px;
  min-height: 53px;
  margin-left: 65px;
  padding: 0 10px;
  padding-top: 15px;

  outline: none;
}

.page-footer__copyright-icon {
  fill: #ffc700;
}

.page-footer__copyright:focus-visible {
  box-shadow: inset 0 0 0 2px #af4fff;
  border-radius: 10px;
}

.page-footer__copyright:hover .page-footer__copyright-icon {
  fill: #ffffff;
}

.page-footer__copyright:active {
  box-shadow: none;
}

.page-footer__copyright:active .page-footer__copyright-icon {
  opacity: 0.3;
}

/*CATALOG*/
/* Header-catalog */

.page-header--catalog > div {
  min-height: 186px;
}

.page-header--catalog {
  margin-bottom: 38px;
}

.header-top__link--name {
  position: relative;

  padding-left: 47px;
  padding-right: 15px;
}

.header-top__link--name::before {
  position: absolute;
  content: "";
  top: 12px;
  left: 23px;

  width: 13px;
  height: 12px;

  background: url("../img/login.svg") no-repeat;
}

.header-top__item--logout {
  margin-right: 10px;
}

.header-top__link--logout {
  padding-left: 14px;
  padding-right: 10px;
  margin-right: 6px;

  opacity: 0.3;
}

/* "Breadcrumbs" */

.header-inner {
  margin-bottom: 38px;
}

.header-inner > div {
  padding-left: 60px;
}

.header-inner__title {
  margin: 0;
  margin-bottom: 13px;
}

.breadcrumbs {
  display: flex;
  margin-left: -12px;

  font-size: 16px;
  line-height: 19px;
}

.breadcrumbs__item {
  position: relative;

  min-height: 40px;

  outline: none;
}

.breadcrumbs__item:first-child {
  margin-right: 7px;
}

.breadcrumbs__item:nth-child(2) {
  margin-right: 9px;
}

.breadcrumbs__item:not(:last-child)::after {
  position: absolute;
  content: "";
  top: 18px;
  right: -8px;

  width: 4px;
  height: 7px;

  background: url("../img/catalog/breadcrumbs-arrow.svg") no-repeat;
  opacity: 0.2;
}

.breadcrumbs__link {
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px 13px 0 13px;

  color: rgba(0, 0, 0, 0.6);

  box-shadow: inset 0 0 0 5px #ffffff;
}

.breadcrumbs__link:focus-visible {
  box-shadow: inset 0 0 0 5px #af4fff;
  outline: none;
}

.breadcrumbs__link:hover {
  color: rgba(0, 0, 0, 1);
}

.breadcrumbs__link:active {
  color: rgba(0, 0, 0, 0.3);
}

/* Filter and sorting */

.wrapper {
  position: relative;

  width: 100%;

  background-color: #ebebeb;
}

.wrapper > div {
  display: flex;
}

.filter > div {
  min-height: 1404px;
}

/* Filter */

.filter + div {
  background-color: #ffffff;
}

.filter {
  width: 328px;
}

.filter__title,
.sorting__title {
  margin: 0;

  font-size: 16px;
  line-height: 19px;
}

.filter__group label {
  font-size: 16px;
  line-height: 19px;
}

.filter__title {
  position: relative;

  min-height: 70px;
  margin-top: 0;
  padding-top: 24px;
  padding-left: 60px;

  background-color: #dcdcdc;
}

.filter__title::before {
  position: absolute;
  content: "";
  top: 0;
  right: 328px;

  min-height: inherit;
  width: 5000px;

  background-color: #dcdcdc;
}

.filter__monopod {
  padding-left: 59px;
  padding-top: 84px;
}

.range__scale {
  position: relative;

  width: 200px;
  height: 2px;
  margin-bottom: 15px;

  background-color: #dcdcdc;
}

.range__bar {
  width: 119px;
  height: 2px;

  background-color: #000000;
}

.range__toggle {
  position: absolute;

  width: 18px;
  height: 18px;

  background-color: #ebebeb;
  border: 2px solid #000000;
  border-radius: 50%;
  outline: none;

  cursor: pointer;
}

.range__toggle--min {
  top: -8px;
}

.range__toggle--max {
  top: -8px;
  right: 72px;
}

.range__toggle:focus-visible {
  border: 2px solid #af4fff;
}

.range__toggle:active {
  background-color: #000000;
  border: 2px solid #000000;
}

.range__inputs {
  display: flex;
}

.range__inputs .filter__label {
  font-size: 15px;
  line-height: 18px;
}

.range__label:first-child {
  margin-left: -5px;
}

.range__label:last-child {
  margin-left: 17px;
}

.range__input {
  width: 59px;
  padding: 0 2px;

  font: inherit;
  font-size: 15px;
  line-height: 18px;

  background-color: transparent;
  border: none;

  -moz-appearance: textfield;
}

.range__input::-webkit-outer-spin-button,
.range__input::-webkit-inner-spin-button {
  margin: 0;

  -webkit-appearance: none;
}

.filter__group {
  border: none;
}

.filter__item {
  position: relative;

  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  letter-spacing: -0.02em;
}

.filter__item::before {
  position: absolute;
  content: "";
  top: -14px;

  width: 200px;
  height: 2px;

  background-color: #000000;
}

.filter__item-cost {
  margin-bottom: 37px;
}

.filter__item-color {
  margin-bottom: 23px;
}

.filter__item-bluetooth {
  margin-bottom: 23px;
}

.filter__label {
  font-size: 15px;
  line-height: 18px;

  opacity: 0.3;
}

.filter__list label {
  padding-left: 39px;
}

.filter__list li {
  position: relative;

  margin-bottom: 10px;
}

.filter__group-cost {
  margin-bottom: 47px;
}

.filter__group-color {
  margin-bottom: 41px;
}

.filter__group-bluetooth {
  margin-bottom: 28px;
}

.filter__tick {
  display: none;
}

.filter__checkbox + label::before {
  position: absolute;
  content: "";
  top: 3px;
  left: 0;
  z-index: 1;

  width: 20px;
  height: 20px;

  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;

  cursor: pointer;
}

.filter__checkbox:checked + label + .filter__tick {
  position: absolute;
  top: 8px;
  left: 5px;

  display: block;

  cursor: pointer;
}

.filter__radio + label::before {
  position: absolute;
  content: "";
  top: 4px;
  left: 0;

  width: 20px;
  height: 20px;

  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;

  cursor: pointer;
}

.filter__radio:checked + label::after {
  position: absolute;
  content: "";
  top: 10px;
  left: 6px;

  width: 8px;
  height: 8px;

  background-color: #000000;
  border-radius: 50%;

  cursor: pointer;
}

.filter__checkbox:checked + label::before,
.filter__radio:checked + label::before {
  border: 2px solid #000000;
}

.filter__checkbox:checked:focus-visible + label::before,
.filter__checkbox:focus-visible + label::before,
.filter__radio:focus-visible + label::before,
.filter__radio:checked:focus-visible + label::before {
  border: 2px solid #af4fff;
}

.filter__checkbox:checked:focus-visible + label + .filter__tick {
  fill: #af4fff;
}

.filter__radio:checked:focus-visible + label::after {
  background-color: #af4fff;
}

.filter__checkbox:checked:hover + label::before,
.filter__radio:checked:hover + label::before,
.filter__checkbox:checked:hover + label + .filter__tick,
.filter__radio:checked:hover + label::after {
  opacity: 0.5;
}

.filter__checkbox:checked:active + label::before,
.filter__checkbox:checked:active + label + .filter__tick,
.filter__radio:checked:active + label::before,
.filter__radio:checked:active + label::after {
  opacity: 0.2;
}

.filter__btn {
  position: relative;
  z-index: 1;

  width: 200px;
  min-height: 40px;
  margin-left: 3px;
  padding: 3px 10px 0 10px;

  border: none;
  background-color: transparent;
  outline: none;
}

.filter__btn::before {
  position: absolute;
  content: "";
  top: 16px;
  left: 0;

  right: 0;
  width: 100%;

  background-color: #ffc700;
}

.filter__btn:focus-visible::before {
  background-color: #af4fff;
}

.filter__btn:hover {
  background-color: #ffc700;
}

.filter__btn:active {
  color: rgba(0, 0, 0, 0.3);
}

/* Sorting */

.sorting {
  display: flex;
  justify-content: space-between;
  width: 832px;
  min-height: 70px;
  padding-top: 14px;
  padding-left: 73px;

  background-color: #ebebeb;
}

.sorting__title {
  margin-right: 32px;
  padding-top: 11px;
}

.sorting__form {
  display: flex;
  justify-content: space-between;
  width: 578px;
  min-height: 19px;
}

.sorting__type {
  width: 227px;
  height: 40px;
  padding-left: 18px;

  font: inherit;
  font-size: 16px;
  line-height: 19px;

  background: transparent url("../img/catalog/select-arrow.svg") no-repeat right 21px center;
  border: none;
  outline: none;

  appearance: none;
  -moz-appearance: none;
}

.sorting__type:focus-visible {
  box-shadow: inset 0 0 0 5px #af4fff;
}

.sorting__type:hover {
  box-shadow: none;
  opacity: 0.6;
}

.sorting__type:active {
  box-shadow: none;
  opacity: 0.3;
}

.arrows {
  display: flex;
  width: 70px;
  margin-right: -18px;
  padding-top: 4px;
}

.arrow {
  width: 35px;
  height: 35px;

  background-size: 11px 10px;
  background-color: transparent;
  border: 5px solid transparent;
  outline: none;
}

.arrow--up {
  margin-right: -5px;
}

.arrow--action {
  fill: rgba(0, 0, 0, 0.2);
}

.arrow:focus-visible {
  z-index: 1;

  border: 5px solid #af4fff;
}

.arrow:hover {
  fill: rgba(0, 0, 0, 0.5);
}

.arrow:active {
  fill: rgba(0, 0, 0, 1);
  border: none;
}

/* Goods list */

.goods {
  position: relative;

  width: 832px;
  min-height: 1334px;
  padding-left: 72px;
  padding-top: 69px;

  background-color: #ffffff;
  background-size: 100vw;
}

.goods::after {
  position: absolute;
  content: "";
  left: 832px;
  top: 0;

  height: 100%;
  width: calc((100vw - 1180px) / 2);

  background-color: #ffffff;
}

.goods__list {
  display: grid;
  grid-template-columns: 360px 360px;
  grid-gap: 44px 40px;
  margin-bottom: 44px;
}

.goods__item {
  width: 360px;
  min-height: 462px;
}

.product {
  position: relative;

  display: grid;
  grid-template-columns: 260px 100px;
  grid-template-rows: 380px auto;
  grid-row-gap: 33px;

  outline: none;
}

.product__img {
  grid-column: 1/-1;
  z-index: 1;
}

.product__title {
  grid-column: 1;
  grid-row: 2;
  margin: 0;

  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  letter-spacing: -0.02em;
}

.product__price {
  grid-column: 2;
  grid-row: 2;
  margin-left: auto;
  padding-top: 3px;

  font-size: 18px;
  line-height: 21px;
  font-weight: normal;
  vertical-align: top;
}

.product__btn-wrapper {
  position: absolute;
  z-index: 2;

  display: none;
  width: 360px;
  height: 380px;
  padding-top: 172px;
  padding-left: 92px;

  background-color: rgba(240, 240, 240, 0.8);
}

.product__btn {
  position: relative;

  display: block;
  width: 180px;
  min-height: 40px;
  padding-top: 9px;

  text-align: center;
}

.product__btn::before {
  top: 15px;
  left: 0;
  z-index: -1;

  width: 180px;

  background-color: #ffc700;
}

.product:focus-visible .product__img {
  outline: 5px solid #af4fff;
}

.product:focus-visible .product__title,
.product:focus-visible .product__price {
  color: #af4fff;
}

.product__img:focus-within + .product__btn-wrapper {
  display: block;
}

.product:hover .product__btn-wrapper {
  display: block;
}

.product__btn:hover {
  background-color: #ffc700;
}

.product__btn:active {
  color: rgba(0, 0, 0, 0.3);
}

.product__link:hover + .product__btn-wrapper,
.product__link:focus-within + .product__btn-wrapper {
  display: block;
}

.goods__more-btn {
  display: block;
  width: 760px;
  min-height: 55px;
  margin-bottom: 51px;
  padding-top: 16px;

  font-size: 16px;
  line-height: 19px;
  text-align: center;

  border: 3px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  outline: none;
}

.goods__more-btn:focus {
  box-shadow: inset 0 0 0 5px #af4fff;
  border: none;
}

.goods__more-btn:hover {
  border: 3px solid #000000;
}

.goods__more-btn:active {
  opacity: 0.3;
}

/* Pagination */

.pagination {
  display: flex;
  width: 760px;
  min-height: 70px;
  margin-bottom: 77px;

  background-color: #ebebeb;
}

.pagination__link {
  display: block;
  min-width: 38px;
  min-height: 38px;

  font-size: 16px;
  line-height: 19px;

  outline: none;
}

.pagination__link--prev,
.pagination__link--next {
  min-width: 127px;
  min-height: 70px;
  padding: 26px 29px 0 29px;
}

.pagination__link--next {
  padding: 26px 27px 0 25px;
}

.pagination__link:not(.pagination__link--prev, .pagination__link--next) {
  padding-top: 10px;

  text-align: center;
  color: rgba(68, 68, 68, 0.3);
}

.pagination__item:nth-child(5) {
  margin-right: 5px;
}

.pagination__item:not(.pagination__item--prev, .pagination__item--next) {
  margin-top: 17px;
}

.pagination__item--prev {
  margin-right: 173px;
}

.pagination__item--next {
  margin-left: auto;
}

.pagination__link:focus-visible {
  box-shadow: inset 0 0 0 5px #af4fff;
}

.pagination__link:hover:not(.pagination__link--prev, .pagination__link--next) {
  color: #444444;
}

.pagination__link--prev:hover,
.pagination__link--next:hover {
  background-color: #dcdcdc;
}

.pagination__link:active:not(.pagination__link--prev, .pagination__link--next) {
  color: rgba(68, 68, 68, 0.1);

  box-shadow: none;
}

.pagination__link--prev:active,
.pagination__link--next:active {
  box-shadow: none;
  opacity: 0.3;
}

/* POPUP */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;

  display: flex;
  width: 100%;
  height: 100%;

  background-color: rgba(240, 240, 240, 0.9);
}

.popup-close {
  display: none;
}

.popup__modal {
  position: relative;

  width: 920px;
  height: 580px;
  margin: auto;
  padding: 63px 70px 78px 70px;

  background-color: #ffffff;
  border: 10px solid #000000;
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.1);
}

.popup__form {
  display: flex;
  flex-wrap: wrap;
}

.popup__title {
  width: 100%;
  margin: 0;
  margin-bottom: 68px;
}

.popup__btn-close {
  position: absolute;
  top: 67px;
  right: 58px;

  width: 50px;
  height: 50px;
  padding: 0;

  font-size: 0;
  background: transparent url("../img/popups/big-btn-close.svg") no-repeat 50% 50%;
  background-size: 26px 26px;
  border: 0;
  outline: none;

  cursor: pointer;
}

.popup__btn-close:focus-visible {
  outline: 5px solid #af4fff;
  border-radius: 50%;
}

.popup__btn-close:hover {
  opacity: 0.6;
}

.popup__btn-close:active {
  opacity: 0.3;
}

.popup__item {
  position: relative;

  display: flex;
  flex-direction: column;
  margin: 0;
}

.popup__item-name,
.popup__item-email {
  width: 360px;
  min-height: 124px;
  margin-bottom: 10px;

  font-size: 14px;
}

.popup__item-name {
  margin-right: 40px;

  color: #ff3d3d;
}

.popup__item-message {
  width: 560px;
  min-height: 94px;
  margin-right: auto;
}

.popup__label {
  width: 100%;
  min-height: 34px;

  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  letter-spacing: -0.02em;
  color: initial;
}

.popup__field {
  font: inherit;
  font-size: 16px;
  line-height: 20px;
  min-height: 60px;

  background-color: #f0f0f0;
  border: 3px solid #f0f0f0;
  outline: none;
}

.popup__field::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.popup__field-name,
.popup__field-email {
  padding: 0 50px 0 17px;
}

.popup__field-name {
  background: #f0f0f0 url("../img/popups/name-icon.svg") no-repeat 324px 20px;
  background-size: 13px 12px;
}

.popup__field-email {
  background: #f0f0f0 url("../img/popups/email-icon.svg") no-repeat 324px 20px;
  background-size: 15px 12px;
}

.popup__field-message {
  padding: 15px 20px 0 17px;
}

.popup__quantity {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  width: 160px;
}

.popup__label-quantity {
  height: 34px;
}

.popup__icon-quantity {
  position: absolute;
  content: "";
  top: -3px;
  right: 13px;

  width: 26px;
  height: 26px;

  background: url("../img/index/delivery-info.svg") no-repeat 50% 50% #ffe17f;
  border-radius: 50%;

  cursor: pointer;
}

.popup__icon-description {
  position: absolute;
  z-index: 2;
  top: 34px;
  left: -20px;

  display: none;
  width: 200px;
  min-height: 160px;
  padding: 19px;

  font-size: 16px;
  line-height: 20px;
  color: #ffffff;

  background-color: #000000;
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.1);
}

.popup__icon-description::after {
  position: absolute;
  content: "";
  top: -6px;
  right: 39px;

  width: 14px;
  height: 6px;

  background: url("../img/popups/popup-cart-close.svg") no-repeat 0 0;
}

.popup__icon-quantity:hover + .popup__icon-description {
  display: block;
}

.quantity-counter {
  display: flex;
}

.quantity-counter__wrapper-btn {
  width: 50px;
  min-height: 60px;
  padding: 14px 9px;

  background-color: #f0f0f0;
}

.quantity-counter__btn {
  position: relative;

  width: 32px;
  height: 32px;
  padding: 0;

  text-align: center;

  background-color: transparent;
  border-radius: 50%;
  border: none;
  outline: none;

  cursor: pointer;
}

.quantity-counter__btn:focus-visible {
  box-shadow: 0 0 0 2px #af4fff;
  border-radius: 50%;
}

.quantity-counter__btn-icon {
  fill: rgba(0, 0, 0, 0.3);
}

.quantity-counter__btn:hover .quantity-counter__btn-icon {
  fill: rgba(0, 0, 0, 1);
}

.quantity-counter__btn:active .quantity-counter__btn-icon {
  fill: rgba(0, 0, 0, 0.1);
}

.quantity-counter__input {
  width: 60px;
  padding: 0;

  font: inherit;
  font-size: 16px;
  line-height: 20px;
  min-height: 60px;
  text-align: center;

  background-color: #f0f0f0;
  border: none;
  outline: none;
}

.quantity-counter:focus-visible {
  outline: 5px solid #af4fff;
}

.quantity-counter:hover .quantity-counter__input,
.quantity-counter:hover .quantity-counter__wrapper-btn {
  background-color: #ebebeb;
}

.quantity-counter:active .quantity-counter__input,
.quantity-counter:active .quantity-counter__wrapper-btn {
  background-color: #ffffff;
}

.quantity-counter:active {
  outline: 3px solid #000000;
}

.quantity-counter--error {
  outline: 3px solid #ff3d3d;
}

.popup__field:focus-visible {
  outline: 5px solid #af4fff;
}

.popup__field:hover {
  background-color: #ebebeb;
  outline: none;
}

.popup__field:active {
  background-color: #ffffff;
  border: 3px solid #000000;
}

.popup__field:active::placeholder {
  color: rgba(0, 0, 0, 1);
}

.popup__field--error {
  border: 3px solid#ff3d3d;
}

.popup__btn {
  position: relative;
  z-index: 1;

  width: 200px;
  min-height: 40px;
  margin-left: 3px;
  margin-top: 42px;
  padding: 3px 10px 0 10px;

  border: none;
  background-color: transparent;
  outline: none;
}

.popup__btn::before {
  top: 16px;
  left: 0;

  right: 0;
  width: 100%;

  background-color: #ffc700;
}

.popup__btn:focus-visible::before {
  background-color: #af4fff;
}

.popup__btn:hover {
  background-color: #ffc700;
}

.popup__btn:active {
  color: rgba(0, 0, 0, 0.3);
}
